<?xml version="1.0"?>
<config>
    <modules>
        <Webinerds_APPRLTracking>
            <version>0.1.0</version>
        </Webinerds_APPRLTracking>
    </modules>
    <global>

    </global>
    <frontend>
        <layout>
            <updates>
                <webinerds_tracking>
                    <file>webinerds/tracking.xml</file>
                </webinerds_tracking>
            </updates>
        </layout>
    </frontend>
</config>