<?xml version="1.0"?>
<config>
    <modules>
        <Nebojsa_Signupwatch>
            <version>0.1.0</version>
        </Nebojsa_Signupwatch>
    </modules>
    <frontend>
        <routers>
            <signupwatch>
                <use>standard</use>
                <args>
                    <module>Nebojsa_Signupwatch</module>
                    <frontName>signupwatch</frontName>
                </args>
            </signupwatch>
        </routers>
        <layout>
            <updates>
                <signupwatch>
                    <file>signupwatch.xml</file>
                </signupwatch>
            </updates>
        </layout>
		<signupwatch>
			<per_page_values>5,10,20,50</per_page_values>
		</signupwatch>
		<translate>
            <modules>
                <Nebojsa_Signupwatch>
                    <files>
                        <default>Nebojsa_Signupwatch.csv</default>
                    </files>
                </Nebojsa_Signupwatch>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<signupwatch>
				<use>admin</use>
				<args>
					<module>Nebojsa_Signupwatch</module>
					<frontName>signupwatch</frontName>
				</args>
			</signupwatch>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<signupwatch module="signupwatch">
				<title>Watch SignUp List</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="signupwatch">
						<title>Manage List</title>
						<sort_order>0</sort_order>
						<action>signupwatch/adminhtml_signupwatch</action>
					</items>
				</children>
			</signupwatch>
		</menu>
		<layout>
			<updates>
				<signupwatch>
					<file>signupwatch.xml</file>
				</signupwatch>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <signupwatch>
                <class>Nebojsa_Signupwatch_Model</class>
                <resourceModel>signupwatch_mysql4</resourceModel>
            </signupwatch>
            <signupwatch_mysql4>
                <class>Nebojsa_Signupwatch_Model_Mysql4</class>
                <entities>
                    <signupwatch>
                        <table>signupwatch</table>
                    </signupwatch>
                </entities>
            </signupwatch_mysql4>
        </models>
        <resources>
            <signupwatch_setup>
                <setup>
                    <module>Nebojsa_Signupwatch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </signupwatch_setup>
            <signupwatch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </signupwatch_write>
            <signupwatch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </signupwatch_read>
        </resources>
        <blocks>
            <signupwatch>
                <class>Nebojsa_Signupwatch_Block</class>
            </signupwatch>
        </blocks>
        <helpers>
            <signupwatch>
                <class>Nebojsa_Signupwatch_Helper</class>
            </signupwatch>
        </helpers>
    </global>
</config>
