<?xml version="1.0"?>
<config>
    <modules>
        <Webinerds_Catalog>
            <version>0.1.0</version>
        </Webinerds_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list_related>Webinerds_Catalog_Block_Product_List_Related</product_list_related>
                </rewrite>
            </catalog>
            <!--<adminhtml>-->
                <!--<rewrite>-->
                    <!--<catalog_product_helper_form_gallery_content>-->
                        <!--Webinerds_Catalog_Block_Adminhtml_Catalog_Product_Helper_Form_Gallery_Content-->
                    <!--</catalog_product_helper_form_gallery_content>-->
                <!--</rewrite>-->
            <!--</adminhtml>-->
        </blocks>
        <!--<models>-->
            <!--<catalog>-->
                <!--<rewrite>-->
                    <!--<product_attribute_backend_media>-->
                        <!--Webinerds_Catalog_Model_Product_Attribute_Backend_Media-->
                    <!--</product_attribute_backend_media>-->
                <!--</rewrite>-->
            <!--</catalog>-->
            <!--<catalog_resource>-->
                <!--<rewrite>-->
                    <!--<product_attribute_backend_media>-->
                        <!--Webinerds_Catalog_Model_Resource_Product_Attribute_Backend_Media-->
                    <!--</product_attribute_backend_media>-->
                <!--</rewrite>-->
            <!--</catalog_resource>-->
        <!--</models>-->
    </global>
</config>