<?xml version="1.0"?>
<config>
    <modules>
        <Solwin_Bannerslider>
            <version>1.0.2</version>
        </Solwin_Bannerslider>
    </modules>
    <frontend>
        <routers>
            <bannerslider>
                <use>standard</use>
                <args>
                    <module>Solwin_Bannerslider</module>
                    <frontName>bannerslider</frontName>
                </args>
            </bannerslider>
        </routers>
        <layout>
            <updates>
                <bannerslider>
                    <file>bannerslider.xml</file>
                </bannerslider>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <bannerslider>
                <class>Solwin_Bannerslider_Helper</class>
            </bannerslider>
        </helpers>
        <blocks>
            <bannerslider>
                <class>Solwin_Bannerslider_Block</class>
            </bannerslider>
        </blocks>
        <models>
            <bannerslider>
                <class>Solwin_Bannerslider_Model</class>
                <resourceModel>bannerslider_mysql4</resourceModel>
            </bannerslider>
            <bannerslider_mysql4>
                <class>Solwin_Bannerslider_Model_Mysql4</class>
                <entities>
                    <bannerslider>
                        <table>solwinbannerslider</table>
                    </bannerslider>
                </entities>
            </bannerslider_mysql4>
        </models>
        <resources>
            <bannerslider_setup>
                <setup>
                    <module>Solwin_Bannerslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bannerslider_setup>
            <bannerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bannerslider_write>
            <bannerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bannerslider_read>
        </resources>
    </global>
    <admin>
        <routers>
            <bannerslider>
                <use>admin</use>
                <args>
                    <module>Solwin_Bannerslider</module>
                    <frontName>bannerslider</frontName>
                </args>
            </bannerslider>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <bannerslider module="bannerslider">
                <title>Bannerslider</title>
                <sort_order>100</sort_order>
                <children>
                    <bannerslider module="bannerslider">
                        <title>Manage Bannerslider</title>
                        <sort_order>0</sort_order>
                        <action>bannerslider/adminhtml_bannerslider</action>
                    </bannerslider>
                </children>
            </bannerslider>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <bannerslider translate="title" module="bannerslider">
                            <title>Bannerslider</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <bannerslider translate="title">
                                    <title>Manage Bannerslider</title>
                                    <sort_order>0</sort_order>
                                </bannerslider>
                            </children>
                        </bannerslider>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <bannerslider>
                    <file>bannerslider.xml</file>
                </bannerslider>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <generalsetting>
            <bannerslidergroup>
                <enable>1</enable>
                <imgwidth>1024</imgwidth>
                <imgheight>400</imgheight>
                <userCss>0</userCss>
                <transitionspeed>2000</transitionspeed>
                <duration>4000</duration>
                <showNavigation>1</showNavigation>
                <navigationColor>#9F1F22</navigationColor>
                <navigationHoverColor>#D52B2F</navigationHoverColor>
                <navigationHighlightColor>#DFDFDF</navigationHighlightColor>
                <navigationNumberColor>#000000</navigationNumberColor>
                <positionNavigation>out-center-bottom</positionNavigation>
                <navigationType>square</navigationType>
                <showControl>1</showControl>
                <controlColor>#FFFFFF</controlColor>
                <controlBackgroundColor>#000000</controlBackgroundColor>
                <positionControl>left-right</positionControl>
                <transition>slide-left</transition>
                <showProgress>1</showProgress>
                <progressColor>#797979</progressColor>
                <pauseOnHover>1</pauseOnHover>
            </bannerslidergroup>
        </generalsetting>
    </default>
</config>
