<?xml version="1.0"?>
<config>
    <modules>
        <Webinerds_CountrySelector>
            <version>0.1.0</version>
        </Webinerds_CountrySelector>
    </modules>
    <global>
        <models>
            <webinerds_countryselector>
                <class>Webinerds_CountrySelector_Model</class>
            </webinerds_countryselector>
        </models>
        <blocks>
            <webinerds_countryselector>
                <class>Webinerds_CountrySelector_Block</class>
            </webinerds_countryselector>
        </blocks>
        <helpers>
            <webinerds_countryselector>
                <class>Webinerds_CountrySelector_Helper</class>
            </webinerds_countryselector>
        </helpers>
        <resources>
            <webinerds_countryselector_setup>
                <setup>
                    <module>Webinerds_CountrySelector</module>
                </setup>
            </webinerds_countryselector_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <coverfx_promo>
                    <file>countryselector.xml</file>
                </coverfx_promo>
            </updates>
        </layout>
    </frontend>
</config>