<?xml version="1.0"?>
<config>
    <modules>
        <GreenPackages_News>
            <version>0.1.0</version>
        </GreenPackages_News>
    </modules>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>GreenPackages_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>
		<news>
			<per_page_values>5,10,20,50</per_page_values>
		</news>
		<translate>
            <modules>
                <GreenPackages_News>
                    <files>
                        <default>GreenPackages_News.csv</default>
                    </files>
                </GreenPackages_News>
            </modules>
        </translate>

    </frontend>
    <admin>
        <routers>
			<news>
				<use>admin</use>
				<args>
					<module>GreenPackages_News</module>
					<frontName>news</frontName>
				</args>
			</news>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			
			<news module="news">
				<title>Inspiration News</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="news">
						<title>Manage News</title>
						<sort_order>0</sort_order>
						<action>news/adminhtml_news</action>
					</items>
				</children>
			</news>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <aheadgeeks_options>
                                            <title>Convertware Settings</title>
                                        </aheadgeeks_options>
                                    </children>
                                </config>
                            </children>
                        </system>
						<GreenPackages_News>
							<title>News Module</title>
							<sort_order>10</sort_order>
						</GreenPackages_News>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<news>
					<file>news.xml</file>
				</news>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <news>
                <class>GreenPackages_News_Model</class>
                <resourceModel>news_mysql4</resourceModel>
            </news>
            <news_mysql4>
                <class>GreenPackages_News_Model_Mysql4</class>
                <entities>
                    <news>
                        <table>news</table>
                    </news>
                </entities>
            </news_mysql4>
        </models>
        <resources>
            <news_setup>
                <setup>
                    <module>GreenPackages_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </news_setup>
            <news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </news_write>
            <news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </news_read>
        </resources>
        <blocks>
            <news>
                <class>GreenPackages_News_Block</class>
            </news>
        </blocks>
        <helpers>
            <news>
                <class>GreenPackages_News_Helper</class>
            </news>
        </helpers>
    </global>
	<default>
       <aheadgeeks_options>
            <settings>
                <sidebar_show_left>1</sidebar_show_left>
				<sidebar_show_right>0</sidebar_show_right>
                <show_in_toplinks>1</show_in_toplinks>
                <show_in_accountnavigation>1</show_in_accountnavigation>
            </settings>
            
        </aheadgeeks_options>
    </default>
</config>
