<?xml version="1.0"?>
<config>
    <modules>
        <Webinerds_TemplateDevelopment>
            <version>0.1.2</version>
        </Webinerds_TemplateDevelopment>
    </modules>
    <global>
        <models>
            <webinerds_templatedevelopment>
                <class>Webinerds_TemplateDevelopment_Model</class>
            </webinerds_templatedevelopment>
        </models>
        <blocks>
            <webinerds_templatedevelopment>
                <class>Webinerds_TemplateDevelopment_Block</class>
            </webinerds_templatedevelopment>
        </blocks>
        <helpers>
            <webinerds_templatedevelopment>
                <class>Webinerds_TemplateDevelopment_Helper</class>
            </webinerds_templatedevelopment>
        </helpers>
        <resources>
            <webinerds_templatedevelopment_setup>
                <setup>
                    <module>Webinerds_TemplateDevelopment</module>
                    <class>Webinerds_TemplateDevelopment_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </webinerds_templatedevelopment_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <webinerds_templatedevelopment>
                    <file>webinerds/webinerds.xml</file>
                </webinerds_templatedevelopment>
            </updates>
        </layout>
    </adminhtml>
</config>