<?xml version="1.0"?>
<config>
    <modules>
        <Nebojsa_Ipredirect>
            <version>0.1.0</version>
        </Nebojsa_Ipredirect>
    </modules>
    <global>
        <models>
            <nebojsa_ipredirect>
                <class>Nebojsa_Ipredirect_Model</class>
                <resourceModel>nebojsa_ipredirect_resource</resourceModel>
            </nebojsa_ipredirect>
            <nebojsa_ipredirect_resource>
                <class>Nebojsa_Ipredirect_Model_Resource</class>
            </nebojsa_ipredirect_resource>
        </models>
        <blocks>
            <nebojsa_ipredirect>
                <class>Nebojsa_Ipredirect_Block</class>
            </nebojsa_ipredirect>
        </blocks>
        <helpers>
            <nebojsa_ipredirect>
                <class>Nebojsa_Ipredirect_Helper</class>
            </nebojsa_ipredirect>
        </helpers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <nebojsa_ipredirect>
                        <type>singleton</type>
                        <class>Nebojsa_Ipredirect_Model_Observer</class>
                        <method>ip2location</method>
                    </nebojsa_ipredirect>
                </observers>
            </controller_action_predispatch>
        </events>
        <resources>
            <nebojsa_ipredirect_setup>
                <setup>
                    <module>Nebojsa_Ipredirect</module>
                </setup>
            </nebojsa_ipredirect_setup>
        </resources>
    </global>
</config>