<?xml version="1.0"?>
<config>
    <modules>
        <PI_Oopsprofile>
            <version>0.2.0</version>
        </PI_Oopsprofile>
    </modules>

		<frontend>
			<routers>
        		<oopsprofile>
        				<use>standard</use>
                <args>
                    <module>PI_Oopsprofile</module>
                    <frontName>oopsprofile</frontName>
                </args>
        		</oopsprofile>
        </routers>
		</frontend>
		
    <admin>
        <routers>
        		<adminhtml>
        				<args>
        						<modules>
        								<PI_Oopsprofile before="Mage_Adminhtml">PI_Oopsprofile_Adminhtml</PI_Oopsprofile>
        						</modules>
        				</args>
        		</adminhtml>
        </routers>
    </admin>
    <adminhtml>
    		<layout>
					<updates>
						<oopsprofile>
							<file>oopsprofile.xml</file>
						</oopsprofile>
					</updates>
				</layout>
    </adminhtml>   
    <global>
    		<events>
    				<oopsprofile_create_api>
    						<observers>
    								<createapi>
    										<class>PI_Oopsprofile_Model_Createapiobserver</class>
    										<method>createapi</method>
    								</createapi>
    						</observers>
    				</oopsprofile_create_api>
    				<!--Save with magento's default form-->
    				<!--oopsprofile_profile_save_after>
							<observers>
  								<save_cron_info>
											<type>singleton</type>
											<class>PI_Oopsprofile_Model_CronObserver</class>
											<method>saveCronSchedule</method>
									</save_cron_info>
  						</observers>
    				</oopsprofile_profile_save_after-->

    				<oopsprofile_profile_save_after>
							<observers>
  								<save_cron_info>
											<type>singleton</type>
											<class>PI_Oopsprofile_Model_CronObserver</class>
											<method>saveOopsCronSchedule</method>
									</save_cron_info>
  						</observers>
    				</oopsprofile_profile_save_after>
    				<oopsprofile_profile_delete_after>
							<observers>
  								<delete_cron_info>
											<type>singleton</type>
											<class>PI_Oopsprofile_Model_CronObserver</class>
											<method>deleteCronSchedule</method>
									</delete_cron_info>
  						</observers>
    				</oopsprofile_profile_delete_after>
    		</events>
    		<models>
    				<dataflow>
        				<rewrite>
        						<profile>PI_Oopsprofile_Model_Dataflow_Profile</profile>
        						<profile_history>PI_Oopsprofile_Model_Dataflow_Profile_History</profile_history> 
        						<batch_io>PI_Oopsprofile_Model_Dataflow_Batch_Io</batch_io>	
        				</rewrite>
        		</dataflow>
            <oopsprofile>
                <class>PI_Oopsprofile_Model</class>
                <resourceModel>oopsprofile_mysql4</resourceModel>
            </oopsprofile>
            <oopsprofile_mysql4>
                <class>PI_Oopsprofile_Model_Mysql4</class>
                <entities>
                    <oopsprofile>
                        <table>oops_importexport_profile</table>
                    </oopsprofile>
                    <mapping>
                    		<table>oops_category_mapping</table>
                    </mapping>
                    <template>
                    		<table>oops_template</table>
                    </template>
                </entities>
            </oopsprofile_mysql4>
        </models>
        <resources>
            <oopsprofile_setup>
                <setup>
                    <module>PI_Oopsprofile</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </oopsprofile_setup>
            <oopsprofile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </oopsprofile_write>
            <oopsprofile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </oopsprofile_read>
        </resources>
        <blocks>
        		<!--rule>
				    		<rewrite>
				    				<conditions>PI_Oopsprofile_Block_Rule_Conditions</conditions>
				    		</rewrite>
				    </rule-->
				    <adminhtml>
				    		<rewrite>
				    				<system_convert_gui_grid>PI_Oopsprofile_Block_Adminhtml_System_Convert_Gui_Grid</system_convert_gui_grid>
				    		</rewrite>
				    </adminhtml>
            <oopsprofile>
                <class>PI_Oopsprofile_Block</class>
            </oopsprofile>
        </blocks>
        <helpers>
            <oopsprofile>
                <class>PI_Oopsprofile_Helper</class>
            </oopsprofile>
        </helpers>
    </global>
    <default>
        <general>
            <file>
                <importexport_local_valid_paths>
                    <available>
                        <export_txt>var/export/*/*.txt</export_txt> 
                        <import_txt>var/import/*/*.txt</import_txt>
                    </available>
                </importexport_local_valid_paths>
                <bunch_size>100</bunch_size>
            </file>
        </general>
    </default>
</config>
