<?xml version="1.0"?>
<config>
    <modules>
        <Nebojsa_BlackFriday>
            <version>0.1.0</version>
        </Nebojsa_BlackFriday>
    </modules>
    <global>
        <models>
            <nebojsa_blackfriday>
                <class>Nebojsa_BlackFriday_Model</class>
                <resourceModel>nebojsa_blackfriday_resource</resourceModel>
            </nebojsa_blackfriday>
            <nebojsa_blackfriday_resource>
                <class>Nebojsa_BlackFriday_Model_Resource</class>
            </nebojsa_blackfriday_resource>
        </models>
        <blocks>
            <nebojsa_blackfriday>
                <class>Nebojsa_BlackFriday_Block</class>
            </nebojsa_blackfriday>
        </blocks>
        <helpers>
            <nebojsa_blackfriday>
                <class>Nebojsa_BlackFriday_Helper</class>
            </nebojsa_blackfriday>
        </helpers>
        <resources>
            <nebojsa_blackfriday_setup>
                <setup>
                    <module>Nebojsa_BlackFriday</module>
                </setup>
            </nebojsa_blackfriday_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <nebojsa_blackfriday module="Nebojsa_BlackFriday">
                    <file>nebojsa_blackfriday.xml</file>
                </nebojsa_blackfriday>
            </updates>
        </layout>
    </frontend>
    <default>
        <nebojsa_blackfriday>
            <settings>
                <active>0</active>
            </settings>
        </nebojsa_blackfriday>
    </default>
</config>